@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow to fill the screen */
#__next {
  overflow-y: clip;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
