<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tienda de despachos</title>

    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->
    <!-- Resto de tu contenido -->
    <!-- para que sea index.php pueda importarlo -->
    <link rel="stylesheet" href="styles/mystyles.css">
    <!-- para que una consulta.php pueda importarlo -->
    <link rel="stylesheet" href="../styles/mystyles.css">
</head>

<body>
    <header class="header">
        <h1>Conoce información acerca de tus despachos:</h1>
    </header>

</body>

</html>
